    <!--Home View-->
    <div id="home"
        data-role="view"
        data-title="Home">
        <h3>Your Home Page</h3>
        <p>
            Telerik AppBuilder&trade; enables you to build cross-platform device applications regardless of your
            development platform by combining the convenience of a local development toolset with the
            power and flexibility of the cloud.
            <br/>
            <br/>
            This template is designed for use with an OpenEdge or Rollbase service. 
            <br/>
            <br/>
            Please open the README.txt for instructions on how to use this template.
        </p>
     </div>
    