html
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{ 
    font-family: sans-serif, Arial, Segoe UI;
    font-size: 16px;
    background: #888 url(img/background.png) repeat;
    margin: 0;
    padding: 0;
}

.header
{
    color: #639ecd;
    background-repeat: repeat-x;
    background-image: url("img/header.png");
    height: 60px;
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
}

h1
{
    font-size: 30px;
    font-weight: normal;
    border-bottom: 4px solid #639ecd;
    display: inline-block;
    line-height: 53px;
    margin: 0 0 0 15px;
}

.content
{
    margin: 80px 5px;
    text-align: center;
}

.button
{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    background: #fff url(img/button-background.png) repeat;
    line-height: 30px;
    background: rgba(49, 52, 55, 0.5);
    box-shadow: 1px 1px 1px #6C7077;
    text-shadow: #7B7D82 1px 1px 1px;
    margin: 5px 3px;
    width: 143px;
}

.button:active
{
    border: 1px solid #8ab6da;
    background-image: none;
    background-color: #639ECD;
    box-shadow: 1px 1px 1px #6C7077;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active
{
    background: rgba(49, 52, 55, 0.1);
    color: rgba(255, 255, 255, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 400px)
{
    button.big
    {
        width: 300px;
    }
}

#fileNameInput
{
    margin-bottom: 10px; 
}

.inputBox
{
    background-color: #EFEFEF;
    font-style: italic;
    color: #A7A7A7;
    width: 280px;
    padding: 7px 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    border-bottom-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 0 #3C3C3C;
}

.horizontalLine
{
    border: none;
    border-top: 1px solid #B3B7BF;
    box-shadow: 0px -1px 0px #565961;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result
{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(103, 109, 119, 0.85);
    margin: 10px auto;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 20px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    max-width: 268px;
    min-height: 20px;
    padding: 10px 18px;
}

.footer
{
    width: 100%;
    height: 22px;
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    background-image: url("img/footer-background.png");
    background-repeat: repeat-x;
}

.footer:before
{
    content: url(img/logo.png);
    position: relative;
    top: 2px;
    left: 12px;
}

.footer img
{
    height: 19px;
    width: 83px;
    float: left;
    padding-left: 12px;
    padding-top: 3px;
}

.footer div
{
    float: right;
    color: #ABADB0;
    padding-right: 12px;
    padding-top: 2px;
}